/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.assets.cache
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.csproj.CoreCompileInputs.cache
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.csprojAssemblyReference.cache
/DataAccess/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DataAccess/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DataAccess/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DataAccess/obj/project.assets.json
/DomainModel/obj/Debug/netcoreapp2.2/DomainModel.AssemblyInfo.cs
/DomainModel/obj/Debug/netcoreapp2.2/DomainModel.AssemblyInfoInputs.cache
/DomainModel/obj/Debug/netcoreapp2.2/DomainModel.assets.cache
/DomainModel/obj/Debug/netcoreapp2.2/DomainModel.csproj.CoreCompileInputs.cache
/DomainModel/obj/Debug/netcoreapp2.2/DomainModel.csprojAssemblyReference.cache
/DomainModel/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DomainModel/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DomainModel/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DomainModel/obj/DomainModel.csproj.nuget.cache
/DomainModel/obj/DomainModel.csproj.nuget.g.props
/DomainModel/obj/DomainModel.csproj.nuget.g.targets
/DomainModel/obj/project.assets.json
/.vs/Library_Management_System/v15/Server/sqlite3/db.lock
/.vs/Library_Management_System/v15/Server/sqlite3/storage.ide
/.vs/Library_Management_System/v15/Server/sqlite3/storage.ide-shm
/.vs/Library_Management_System/v15/Server/sqlite3/storage.ide-wal
/.vs/Library_Management_System/v15/.suo
/DataAccess/obj/DataAccess.csproj.nuget.cache
/DataAccess/obj/DataAccess.csproj.nuget.g.props
/DataAccess/obj/DataAccess.csproj.nuget.g.targets
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.AssemblyInfoInputs.cache
/Library_Management_System.sln
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.AssemblyInfo.cs
/DataAccess/bin/Debug/netcoreapp2.2/DataAccess.deps.json
/DataAccess/bin/Debug/netcoreapp2.2/DataAccess.dll
/DataAccess/bin/Debug/netcoreapp2.2/DataAccess.pdb
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.csproj.FileListAbsolute.txt
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.dll
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.pdb
/DomainModel/bin/Debug/netcoreapp2.2/DomainModel.deps.json
/DomainModel/bin/Debug/netcoreapp2.2/DomainModel.dll
/DomainModel/bin/Debug/netcoreapp2.2/DomainModel.pdb
/DomainModel/obj/Debug/netcoreapp2.2/DomainModel.csproj.FileListAbsolute.txt
/DomainModel/obj/Debug/netcoreapp2.2/DomainModel.dll
/DomainModel/obj/Debug/netcoreapp2.2/DomainModel.pdb
/DataAccess/bin/Debug/netcoreapp2.2/DataAccess.deps.json
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.csproj.FileListAbsolute.txt
/DataAccess/obj/Debug/netcoreapp2.2/DataAccess.csproj.FileListAbsolute.txt
/RepositoryImplementation/obj/Debug/netcoreapp2.2/RepositoryImplementation.AssemblyInfo.cs
/RepositoryImplementation/obj/Debug/netcoreapp2.2/RepositoryImplementation.AssemblyInfoInputs.cache
/RepositoryImplementation/obj/Debug/netcoreapp2.2/RepositoryImplementation.assets.cache
/RepositoryImplementation/obj/Debug/netcoreapp2.2/RepositoryImplementation.csproj.CoreCompileInputs.cache
/RepositoryImplementation/obj/Debug/netcoreapp2.2/RepositoryImplementation.csprojAssemblyReference.cache
/RepositoryImplementation/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RepositoryImplementation/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RepositoryImplementation/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RepositoryImplementation/obj/project.assets.json
/RepositoryImplementation/obj/RepositoryImplementation.csproj.nuget.cache
/RepositoryImplementation/obj/RepositoryImplementation.csproj.nuget.g.props
/RepositoryImplementation/obj/RepositoryImplementation.csproj.nuget.g.targets
/UseCaseBoundary/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/UseCaseBoundary/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/UseCaseBoundary/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/UseCaseBoundary/obj/Debug/netcoreapp2.2/UseCaseBoundary.AssemblyInfo.cs
/UseCaseBoundary/obj/Debug/netcoreapp2.2/UseCaseBoundary.AssemblyInfoInputs.cache
/UseCaseBoundary/obj/Debug/netcoreapp2.2/UseCaseBoundary.assets.cache
/UseCaseBoundary/obj/Debug/netcoreapp2.2/UseCaseBoundary.csproj.CoreCompileInputs.cache
/UseCaseBoundary/obj/Debug/netcoreapp2.2/UseCaseBoundary.csprojAssemblyReference.cache
/UseCaseBoundary/obj/project.assets.json
/UseCaseBoundary/obj/UseCaseBoundary.csproj.nuget.cache
/UseCaseBoundary/obj/UseCaseBoundary.csproj.nuget.g.props
/UseCaseBoundary/obj/UseCaseBoundary.csproj.nuget.g.targets
